#encoding: utf-8
<h1>用户登录<h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f|%>
			
			<%=	f.label :name, "用户名"%>
			<%= f.text_field :name, :style => "width: 150px"%>
			<br />
			<%= f.label :password, "密码" %>
			<%= f.password_field :password, :style => "width: 150px"%>

			<br />
			<br />
			<%= f.submit "点击登录", class: "btn btn-large btn-primary"%>
		<% end %>
		
	<h5>新用户？<%= link_to "立即注册！", signup_path%></h5>
	</div>
</div>

