<h1 align="center">编辑个人资料</h1>
<br />
<br />
<br />

<div class="row">
	<div class="span6 offset3">
		<div class="form-horizontal">	
			<%= form_for(@user) do |f|%>
				<%= render 'shared/error_messages', object: f.object%>
				<div class="control-group">
					<%= f.label :name, "用户名", class: "control-label"%>
					<div class="controls">	
						<%= f.text_field :name, :autofocus => true, :style => "width: 280px", placeholder: "输入用户名"%>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :email, "邮箱",class: "control-label"%>
					<div class="controls">	
						<%= f.text_field :email, :autofocus => true, :style => "width: 280px",placeholder: "输入邮箱"%>
					</div>	
				</div>
				<div class="control-group">
					<%= f.label :password, "密码", class: "control-label"%>
					<div class="controls">	
						<%= f.password_field :password,  :style => "width: 280px",placeholder: "输入密码"%>
					</div>	
				</div>
				<div class="control-group">
					<%= f.label :password_confirmation, "确认密码",class: "control-label"%>
					<div class="controls">	
						<%= f.password_field :password_confirmation,  :style => "width: 280px",placeholder: "再输入一遍密码"%>
					</div>	
				</div>
			<br />
				 <div class="text-center">
					<%= f.submit "保存更改" ,class: "btn btn-info", :style=>{align: "center"}%>
				</div>
		<% end %>
		</div>	
		</aside>
	</div>	
</div>
