<h1>立即注册</h1>
<div class="row">
	<div class="span6 offset4">
		<%= form_for(@user) do |f|%>
			<%= f.label :name ,"姓名"%>
			<%= f.text_field :name, :autofocus => true, :style=> "width: 280px"%>

			<%= f.label :email, "邮箱"%>
			<%= f.text_field :email, :autofocus => true , :style => "width: 280px"%>

			<%= f.label :password, "密码"%>
			<%= f.password_field :password,:autofocus => true, :style => "width: 280px"%>

			<%= f.label :password_confirmation, "确认密码"%>
			<%= f.password_field :password_confirmationi,:autofocus => true, :style => "width: 280px"%>
			<br />
			<br />
			<br />
			<%= f.submit "加入论坛", class: "btn btn-large btn-primary offset1"%>
		<% end %>
	</div>
</div>
