<h3>
	<% if flash[:notice]%>
	<%= flash[:notice]%>
	<% end %>
</h3>
<div class="row">
	<aside class="span6">
		<section>
			<h3>
				<% if flash[:notice]%>
				<%= flash[:notice]%>
				<% end %>
				<% if flash[:success]%>
				<%= flash[:success]%>
				<% end %>
			</h3>
			<h1>
				<%= gravatar_for @user%><br />
				<%=@user.name%><br />
			</h1>
		</section>
	</aside>
	<div class="span8">
		<span>我问过的问题：</span>

		<% if @user.questions.any? %>
			<%= will_paginate @questions%>
			<ol>

			<%@questions.each do |question|%>
			<li>
				<span><%= link_to question.intro,question%></span>
				<span class="timestamp">
					 发表于<%= time_ago_in_words(question.created_at)%>之前
				</span>
			</li>	
			<% end %>
			</ol>
			<%= will_paginate @questions%>
		<% end %>	
	</div>
</div>
