<h3>
	<% if flash[:notice]%>
	<%= flash[:notice]%>
	<% end %>
</h3>
<div class="row">
	<aside class="span6">
		<section>
			<h3>
				<% if flash[:notice]%>
				<%= flash[:notice]%>
				<% end %>
				<% if flash[:success]%>
				<%= flash[:success]%>
				<% end %>
			</h3>
			<h1>
				<%= image_tag("photo.jpg", :alt => "")%><br />
				<%=@user.name%><br />
			</h1>
		</section>
	</aside>
	
</div>

<div id="wrapper1" >

  					<div id="menu1" class="wsytest2">
   					 <ul>
     				 			<li><em style="padding-left: 55px">我的问题</em><br><a href="<%= myquestion_path%>"> <%= image_tag("item-01.jpg", :alt => "") %> </a></li>
    			  		<li><em style="padding-left: 55px">我的分享</em><br><a href="<%= myplan_path%>"> <%= image_tag("item-02.jpg", :alt => "") %> </a></li>
     			 		<li><em style="padding-left: 40px">修改账户信息</em><br><a href="<%= edit_user_path(current_user)%>"> <%= image_tag("item-03.jpg", :alt => "") %> </a></li>
     						 <li><em style="padding-left: 55px">返回主页</em><br><a href="<%= root_path%>"> <%= image_tag("item-04.jpg", :alt => "") %> </a></li>
     			 			<li><em style="padding-left: 70px">帮助</em><br><a href="<%= help_path%>"> <%= image_tag("item-05.jpg", :alt => "") %> </a></li>
    						</ul>
  						</div>
					</div>

